{% extends "layouts/layout.html" %}

{% block title %}Booking System{% endblock %}

{% block content %}

    <div class="mx-auto max-w-3xl text-base/7 text-gray-700">
      <p class="text-base/7 font-semibold text-indigo-600">Introducing</p>
      <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Classrooms Booking System</h1>
      <p class="mt-6 text-xl/8">
        This application combines powerful backend functionality with an intuitive frontend design to create an efficient and easy-to-use classroom booking system. 
        Built with FastAPI and enriched with a modern user interface, it allows users to seamlessly register, log in, and book classrooms in a visually engaging and user-friendly manner. 
        Whether you're an administrator managing resources or a student reserving a study room, this app offers an enjoyable and streamlined experience.
      </p>
      <div class="mt-10 max-w-2xl">
        <p class="text-base/7 font-semibold text-indigo-600">Features</p>
        <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">
          <li class="flex gap-x-3">
            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
            </svg>
            <span>
                <strong class="font-semibold text-gray-900">
                    User Registration and Authentication:
                </strong> 
                Users can sign up and log in securely to access classroom booking features.
            </span>
          </li>
          <li class="flex gap-x-3">
            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
            </svg>
            <span>
                <strong class="font-semibold text-gray-900">
                    Secure Login and Session Management:
                </strong> 
                Secure user login with password hashing and session handling.
            </span>
          </li>
          <li class="flex gap-x-3">
            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
            </svg>
            <span>
                <strong class="font-semibold text-gray-900">
                    Classroom Viewing:
                </strong> 
                View available classrooms with real-time information on booking availability.
            </span>
          </li>
          <li class="flex gap-x-3">
            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
            </svg>
            <span>
                <strong class="font-semibold text-gray-900">
                    Responsive Frontend Design: 
                </strong> 
                The application features a modern, responsive design for easy access on all devices.
            </span>
          </li>
          <li class="flex gap-x-3">
            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm3.857-9.809a.75.75 0 0 0-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 1 0-1.06 1.061l2.5 2.5a.75.75 0 0 0 1.137-.089l4-5.5Z" clip-rule="evenodd" />
            </svg>
            <span>
                <strong class="font-semibold text-gray-900">
                     Event logging:
                </strong> 
                Important events are recorded in log files for easy debugging.
            </span>
          </li>
        </ul>
        <p class="mt-8">
            Our platform provides real-time availability updates, so you can be confident that the room you need is ready when you need it. 
            It is built to facilitate smooth management of classrooms, allowing you to filter by level, capacity, and equipment to find the perfect space for your needs. 
            Whether you need a quiet room for study or a fully equipped classroom for a presentation, our system makes it effortless to organize your day.
        </p>
  
      </div>
      
    </div>

  

{% endblock %}